/* Variable Declaration */
:root {
  --shadow: lightblue;
  --background: #FFFAF0;
  --king: #660099;
  --lord: #4169E1;
  --duke: #000000; /* CHANGE THIS COLOR (same as spectator) */
  --earl: #556B2F;
  --knight: #778899;
  --peasant: #AE8484;
  --spectator: #000000;
  --game: #32CD32;
  --error: crimson;
  --whisper: #FF1493;
  --anon: #CD5C5C;
  --yell: #FF4500;
}

/* Left Sidebar */
.left-sidebar {
	flex-shrink: 0;
	min-width: 300px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
	border-right: 1px solid black;
}

/* PlayerList */
.playerlist-header{
	padding: 15px;
	font: 24px "Trebuchet MS";
	border-bottom: 1px solid black;
}
.playerlist {
}
.pl-player{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	height: 40px;
}
.pl-succ{
	flex: 1;
	padding-right: 10px;
}
.pl-name {
	flex: 1000;
	font-weight: bold;
	font-size: 20px;
	padding-right: 20px;
}
.pl-button {
  flex-shrink: 0;
	font-size: 16px;
	border: 1px solid var(--background);
	border-radius: 5px;
	padding: 3px;
	margin-left: 5px;
	width: 22px;
	height: 22px;
}
.give-modal{
	position: absolute;
	border: 2px solid black;
}
.pl-button:hover {
	border: 1px solid gray;
	background-color: lightgray;
}
.selected-icon {
	border: 1px solid gray;
	background-color: darkgray;
}
.disabled-icon {
	opacity: 0.25;
}
.pl-king .pl-name,
.pl-king .chat-name,
.pl-king .chat-message{
	color: var(--king);
}
.pl-lord .pl-name,
.pl-lord .chat-name{
	color: var(--lord);
}
.pl-duke .pl-name,
.pl-duke .chat-name{
	color: var(--duke);
}
.pl-earl .pl-name{
	color: var(--earl);
}
.pl-earl .chat-name{
	color: var(--earl);
}
.pl-knight .pl-name,
.pl-knight .chat-name{
	color: var(--knight);
}
.pl-peasant .pl-name,
.pl-peasant .chat-name{
	color: var(--peasant);
}
.pl-spectator .pl-name,
.pl-spectator .chat-name{
	color: var(--spectator);
}
.pl-game .chat-name{
	color: var(--game);
}
.pl-error .chat-name{
	color: var(--error);
}
.pl-whisper {
	color: var(--whisper);
}
.pl-anon {
	color: var(--anon);
}
.pl-yell {
	color: var(--yell);
}

/* Main Area (Chat and Right Sidebar) */
.main-area{
	flex: 1000;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* Right Sidebar */
.right-sidebar {
	flex: 1;
	min-width: 300px;
    z-index: 1;
    overflow-x: hidden;
	border-left: 1px solid black;
	display: flex;
	flex-direction: column;
}

/* GameState & Timer */
.state {
	flex: 1;
	min-height: 30px;
	padding: 15px;
	font: 24px "Trebuchet MS";
	align-items: center;
	display: flex;
	flex-direction: row;
  	justify-content: center;
	border-bottom: 1px solid black;
}
.st-seperator{
	padding: 0px 10px;
}
.st-gamestate{
	display: inline-flex;
}
.st-timer{
	display: inline-flex;
}

/* Player Module */
.player-module{
	flex: 1000;
	padding: 15px;
  	text-align: center;
}
.pm-icon{
	font-size: 100px;
	padding-bottom: 8px;
}
.pm-name{
	font: 28px "Trebuchet MS";
	padding-bottom: 4px;
}
.pm-prestige{
	font: 18px "Trebuchet MS";
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}
.pm-info{
	padding-top: 12px;
	text-align: left;
}

/* Kings Module */
.kings-module{
	flex: 1;
	padding: 20px 7px 15px 7px;
  	text-align: center;
	border-top: 1px solid black;
}
.km-header{
	font: 18px "Trebuchet MS";
	text-shadow: 1px 1px lightblue;
}
.km-lookup{
	padding-bottom: 12px;
	border-bottom: 1px solid gray;
	margin-bottom: 12px;
}
.km-buttons{
	display: flex;
	justify-content: space-around;
  	width: 100%;
}
.km-buttons p{
	/* display: inline-flex; */
}
.km-button {
  	text-align: center;
	font: 27px "Trebuchet MS";
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 3px;
	width: 36px;
}
.km-button:hover {
	border: 1px solid gray;
	background-color: lightgray;
}

/* Chat Window & Input */
.chat{
	flex: 1000;
	display: flex;
	flex-direction: column;
}
.chat-window{
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.chat-entries{
	width: 100%;
	max-width: 600px;
	font: 16px "Times New Roman";
}
.chat-break{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.chat-break-left{
	height: 0;
	border-bottom: 3px solid black;
	flex: 1000;
}
.chat-break-text{
	padding: 0px 10px;
	flex-shrink: 0;
	font-weight: bold;
}
.chat-break-right{
	height: 0;
	border-bottom: 3px solid black;
	flex: 1000;
}
.chat-input{
	display: flex;
	flex-direction: row;
	bottom: 0px;
	width: 100%;
	height: 42px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	padding: 10px;
}
.chat-input-box{
	flex: 1000;
	margin-right: 10px;
	border: 1px solid var(--shadow);
}
.chat-input-button{
	flex: 1;
}
.chat-entry{
	margin: 5px;
}
.chat-name{
	display: inline;
	padding-right: 8px;
	font-weight: bold;
}
.chat-message{
	display: inline;
}
.scoreboard-background{
	position:absolute;
	width:100%;
	height:100%;
	background-color: var(--background);
	display:flex;
	align-items:center;
	flex-direction: column;
	overflow: scroll;
	overflow-x:hidden;
	z-index:2;
}
.sb-title{
	text-align:center;
	font: 66px "Trebutchet MS";
}
.scoreboard{
	width:30%;
	/*border: 2px solid black;*/
	display:flex;
	/*background-color: var(--shadow);*/
	flex-direction: column;
	align-items:stretch;
	padding-bottom:50px;
}
.sb-player{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	align-content:stretch;
	font: 22px "Trebuchet MS";
	padding: 10px;
	
}


/* Scrollbar & Other */
.hidden{
	display: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #595959;
  box-shadow: inset 0 0 3.2px #000000;
  border-radius: 1.25px;
  border: 0.5px solid #000000;
}
::-webkit-scrollbar-track-piece {
  background-color: #999999;
  box-shadow: inset 0 0 0px #000000;
  border: 0px solid #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background-color: #595959;
}
p{
  padding:0;
  margin:0;
}
body{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}
html{
	height: 100%;
	width: 100%;
}
